.modal {
  position: fixed;
  transform: translate(0%) scale(1);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 10;
  background-color: black;
  color: white;
  padding: 25px;
  max-width: 500px;
}

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
}
